<!DOCTYPE html>
<html lang="en-us">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width,user-scalable=no" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="renderer" content="webkit" />
	<meta name="wap-font-scale" content="no" />
	<title>TFTP-NP <%- version %></title>
	<link rel="stylesheet" type="text/css" href="/assets/css/index.css" />
	<style>
		svg {
			fill: black;
		}

		@media (prefers-color-scheme: dark) {
			svg {
				fill: white;
			}
		}
	</style>

</head>

<body class="is-preload">


	<body class="root-dir">

		<div class="panel breadcrumbs main" style="text-align: center;">
			<strong><a href="/"><%- news_notify %>Main</a>|</strong>
			<strong><a href="/files">Files</a>|</strong>
			<strong><a href="/config">Config</a>|</strong>
			<strong><a href="/menu_editor">iPXE menu</a>|</strong>
			<strong><a href="/credits">Credits</a></strong>
		</div>


		<div class="panel" style="min-height: 20px; text-align: center; padding: 0.3em;" id="notification">
			<div>
				<h2>
					<div>TFTP-NP <%- version %></div>
					<div>(PXE сервер мечты!)</div>
				</h2>
			</div>
		</div>

		<%- news_block %>

			<div class="panel" style="text-align: center;">
				<a href="https://boosty.to/tftp-np/donate" style="display: flex; align-items: center; justify-content: center;">
					<img src="images/tftp-np-donate.png" alt="" class="image avatar" />
					<h3><span style="margin-left: 10px;">Самая лучшая благодарность - это ваши донаты на Boosty!</span></h3>
				</a>
			</div>



			</div>
			</div>





			<div class="panel" style="display: flex; justify-content: center;">
				<a href="https://rutracker.org/forum/viewtopic.php?t=6259174" style="display: flex; align-items: center; justify-content: center;">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="40" height="40">
						<path
							d="M 24 4 C 15.81 4 8.7599219 8.94 5.6699219 16 L 9.0097656 16 C 10.906787 12.451375 14.036384 9.6594901 17.816406 8.1757812 C 16.507609 10.210641 15.469773 12.891594 14.810547 16 L 17.869141 16 C 19.149141 10.46 21.67 7 24 7 C 26.33 7 28.850859 10.46 30.130859 16 L 33.189453 16 C 32.530227 12.891594 31.492391 10.210641 30.183594 8.1757812 C 33.963616 9.6594901 37.093213 12.451375 38.990234 16 L 42.330078 16 C 39.240078 8.94 32.19 4 24 4 z M 14.638672 18.027344 A 1.250125 1.250125 0 0 0 13.464844 19.103516 L 12.642578 24.261719 L 11.146484 20.804688 A 1.250125 1.250125 0 0 0 8.8535156 20.804688 L 7.3574219 24.261719 L 6.5351562 19.103516 A 1.250125 1.250125 0 0 0 5.3300781 18.033203 A 1.250125 1.250125 0 0 0 4.0664062 19.496094 L 5.5664062 28.896484 A 1.250125 1.250125 0 0 0 7.9472656 29.195312 L 10 24.447266 L 12.052734 29.195312 A 1.250125 1.250125 0 0 0 14.433594 28.896484 L 15.933594 19.496094 A 1.250125 1.250125 0 0 0 14.638672 18.027344 z M 28.638672 18.027344 A 1.250125 1.250125 0 0 0 27.464844 19.103516 L 26.642578 24.261719 L 25.146484 20.804688 A 1.250125 1.250125 0 0 0 22.853516 20.804688 L 21.357422 24.261719 L 20.535156 19.103516 A 1.250125 1.250125 0 0 0 19.330078 18.033203 A 1.250125 1.250125 0 0 0 18.066406 19.496094 L 19.566406 28.896484 A 1.250125 1.250125 0 0 0 21.947266 29.195312 L 24 24.447266 L 26.052734 29.195312 A 1.250125 1.250125 0 0 0 28.433594 28.896484 L 29.933594 19.496094 A 1.250125 1.250125 0 0 0 28.638672 18.027344 z M 42.638672 18.027344 A 1.250125 1.250125 0 0 0 41.464844 19.103516 L 40.642578 24.261719 L 39.146484 20.804688 A 1.250125 1.250125 0 0 0 36.853516 20.804688 L 35.357422 24.261719 L 34.535156 19.103516 A 1.250125 1.250125 0 0 0 33.330078 18.033203 A 1.250125 1.250125 0 0 0 32.066406 19.496094 L 33.566406 28.896484 A 1.250125 1.250125 0 0 0 35.947266 29.195312 L 38 24.447266 L 40.052734 29.195312 A 1.250125 1.250125 0 0 0 42.433594 28.896484 L 43.933594 19.496094 A 1.250125 1.250125 0 0 0 42.638672 18.027344 z M 5.6699219 32 C 8.7599219 39.06 15.81 44 24 44 C 32.19 44 39.240078 39.06 42.330078 32 L 38.990234 32 C 37.093213 35.548625 33.963616 38.34051 30.183594 39.824219 C 31.492391 37.789359 32.530227 35.108406 33.189453 32 L 30.130859 32 C 28.850859 37.54 26.33 41 24 41 C 21.67 41 19.149141 37.54 17.869141 32 L 14.810547 32 C 15.469773 35.108406 16.507609 37.789359 17.816406 39.824219 C 14.036384 38.34051 10.906787 35.548625 9.0097656 32 L 5.6699219 32 z" />
					</svg>
					Rutracker
				</a>

				<a href="https://t.me/tftp_np" style="display: flex; align-items: center; justify-content: center;">
					<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 64 64">
						<path id="path"
							d="M 32 10 C 19.85 10 10 19.85 10 32 C 10 44.15 19.85 54 32 54 C 44.15 54 54 44.15 54 32 C 54 19.85 44.15 10 32 10 z M 32 14 C 41.941 14 50 22.059 50 32 C 50 41.941 41.941 50 32 50 C 22.059 50 14 41.941 14 32 C 14 22.059 22.059 14 32 14 z M 41.041016 23.337891 C 40.533078 23.279297 39.894891 23.418531 39.181641 23.675781 C 37.878641 24.145781 21.223719 31.217953 20.261719 31.626953 C 19.350719 32.014953 18.487328 32.437828 18.486328 33.048828 C 18.486328 33.478828 18.741312 33.721656 19.445312 33.972656 C 20.177313 34.234656 22.023281 34.79275 23.113281 35.09375 C 24.163281 35.38275 25.357344 35.130844 26.027344 34.714844 C 26.736344 34.273844 34.928625 28.7925 35.515625 28.3125 C 36.102625 27.8325 36.571797 28.448688 36.091797 28.929688 C 35.611797 29.410688 29.988094 34.865094 29.246094 35.621094 C 28.346094 36.539094 28.985844 37.490094 29.589844 37.871094 C 30.278844 38.306094 35.239328 41.632016 35.986328 42.166016 C 36.733328 42.700016 37.489594 42.941406 38.183594 42.941406 C 38.877594 42.941406 39.242891 42.026797 39.587891 40.966797 C 39.992891 39.725797 41.890047 27.352062 42.123047 24.914062 C 42.194047 24.175062 41.960906 23.683844 41.503906 23.464844 C 41.365656 23.398594 41.210328 23.357422 41.041016 23.337891 z" />
					</svg>
					Telegram
				</a>
			</div>






			<div class="panel" style="text-align: center;">
				<ul class="copyright">
					<li>&copy; Morismoss</li>
					<li>Crafted by: Naben</li>
				</ul>
			</div>




	</body>

</html>