<!DOCTYPE html>
<html lang="en-us">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width,user-scalable=no" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="renderer" content="webkit" />
	<meta name="wap-font-scale" content="no" />
	<title>TFTP-NP <%- version %></title>
	<link rel="stylesheet" type="text/css" href="/assets/css/index.css" />
</head>


<body class="root-dir">

	<div class="panel breadcrumbs main" style="text-align: center;">
		<strong><a href="/"><%- news_notify %>Main</a>|</strong>
		<strong><a href="/files">Files</a>|</strong>
		<strong><a href="/config">Config</a>|</strong>
		<strong><a href="/menu_editor">iPXE menu</a>|</strong>
		<strong><a href="/credits">Credits</a></strong>
	</div>

	
		<div class="panel" style="min-height: 20px; text-align: center;" ><h3 id="notification"></h3></div>
	
	<div class="textarea"><textarea id="textarea1" style="height: 65vh;"></textarea></div>
	<div class="panel" class="btn-group" style="text-align: center;">
		<button id="get" onclick="get_config()">Get Menu</button>
		<button id="write" onclick="write_config()">Set Menu</button>
	</div>



</body>





<script>
	function get_config() {
		document.getElementById("get").disabled = true;
		document.getElementById("write").disabled = true;
		const data = { "method": "get_menu" };
		const options = {
			method: 'POST',
			body: JSON.stringify(data),
			headers: {
				'Content-Type': 'application/json'
			}
		};
		fetch('/api', options)
			.then(response => response.text())
			.then(data => {
				const textarea = document.getElementById("textarea1");
				textarea.value = data;
				document.getElementById("notification").innerHTML = "Файл меню с сервера получен";
				setTimeout(() => {
					document.getElementById("get").disabled = false;
					document.getElementById("write").disabled = false;
					document.getElementById("notification").innerHTML = "iPXE Menu Editor";
				}, 2000);
			})
			.catch(error => {
				// handle error
				console.error(error);
			});

	}

	function write_config() {
		document.getElementById("get").disabled = true;
		document.getElementById("write").disabled = true;
		const text = document.getElementById("textarea1").value;
		const url = "/api";

		// Create a new Blob object with the text content and a MIME type of 'text/plain'
		const textFile = new Blob([text], { type: 'text/plain' });

		// Create a new FormData object and append the JSON string and text file
		const formData = new FormData();
		formData.append("method", "update_menu");
		formData.append("textFile", textFile, "text.txt");

		fetch(url, {
			method: "POST",
			body: formData
		})
			// .then(response => response.json())
			.then(data => {
				console.log(data);
				document.getElementById("notification").innerHTML = "Файл меню отправлен на сервер";
				setTimeout(() => {
					document.getElementById("get").disabled = false;
					document.getElementById("write").disabled = false;
					document.getElementById("notification").innerHTML = " ";
				}, 2000);
			})
			.catch(error => {
				console.error(error);
			});
	}


</script>

<script>
	window.onload = get_config();
</script>


</body>

</html>